<nav th:fragment="menu_nav" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <div class="nav-wrapper">
        <li><a class="right" th:href="@{/logout}">Logout</a></li>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/allstudents}">Students</a></li>
            <li><a th:href="@{/allprofessors}">Professors</a></li>
            <li><a th:href="@{/allschoolgroups}">School Groups</a></li>
        </ul>
    </div>
</nav>